* {
  box-sizing: border-box;
}

.app {
  background-color: #202124;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

button {
  cursor: pointer;
}

.nav button {
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.nav button:hover {
  color: yellow;
}

.nav button:active {
  background-color: transparent;
}

.search {
  background-color: #202124;
  height: 100vh;
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: inherit;
  font-size: 5rem;
  align-self: center;
  position: relative;
  top: -10vh;
  gap: 1rem;
}

.bulb {
  height: 5rem;
  width: 5rem;
  position: relative;
  top: 2rem;
  border-radius: 5rem;
  background-color: white;
}

.bulb:hover {
  border: 20px solid;
  background-color: yellow;
}

input {
  width: 80%;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0 2rem;
  border-radius: 2rem;
  border: 1px solid white;
  background-color: transparent;
}

input:focus {
  outline: none;
  color: white;
  border: 1px solid yellow;
}

button {
  margin: 15px 10px;
  padding: 5px 10px;
  background-color: #202124;
  border: 1px solid;
  color: white;
  font-size: 1.5rem;
}

.buttonContainer button:hover, button:active {
  background-color: yellow;
  color: black;
}

.buttonContainer button:active {
  scale: 0.95;
}

.results {
  width: 80%;
  padding: 10vh 10vw;
  height: 100vh;
  justify-content: space-around;
  margin: 0 auto;
}

.article {
  display: flex;
  flex-direction: column;
}

.source {
  display: flex;
  font-size: 2rem;
  color: gray;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  line-height: 2.5rem;
}

.results h2 {
  font-size: 4rem;
}

.results a {
  font-size: 2rem;
  color: yellow
}