* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.app {
  background-color: #202124;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 100vh;
}

.nav {
  width: 100%;
  padding: 0 10vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #202124;
  border-bottom: 2px solid yellow;
}

.nav button.logo {
  position: absolute;
  left: 10%;
  text-decoration: none;
  font-size: min(2rem, 7.5vw);
  padding: 0;
  font-weight: 600;
  text-shadow: 0 1px yellow;
}

button {
  cursor: pointer;
  background-color: #202124;
  color: white;
}

.nav button {
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0 0 0 20px;
  font-size: min(1.5rem, 5vw);
}

.nav button:hover {
  color: yellow;
}

.nav button:active {
  background-color: transparent;
}

.search {
  background-color: #202124;
  height: 100vh;
  width: min(80%, 1024px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10vh;
}

.title {
  display: flex;
  font-size: min(10vw, 5rem);
  margin-bottom: 5vh;
  justify-content: center;
  font-weight: 600;
  text-shadow: 0 2px yellow;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.4rem;
}

input {
  width: min(80%, 600px);
  height: 2rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  border-radius: 1em;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

input:focus {
  outline: none;
  border: 1px solid yellow;
}

.inputErrorMessage {
  width: 60%;
  color: red;
  font-size: 0.8rem;
  margin-top: -1.6rem;
}

.search button, .results button {
  margin: 15px 10px;
  padding: 5px 10px;
  border: 1px solid;
  font-size: min(1.5rem, 5vw);
  box-shadow: 3px 3px 2px 0 yellow;
}

.buttonContainer button.disabled:hover {
  cursor: not-allowed;
  color: white;
  background-color: transparent;
  box-shadow: 3px 3px 2px 0 red;
}

.buttonContainer button.disabled:active {
  scale: none;
  color: white;
  background-color: transparent;
  box-shadow: 3px 3px 2px 0 red;
}

.buttonContainer button:hover, button:active {
  background-color: yellow;
  color: black;
}

button:active {
  box-shadow: none;
}

.results {
  background-color: #202124;
  width: 100%;
  padding: 10vh 10vw;
  min-height: 90vh;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
  top: 0;
}

.buttonContainer button {
  /* margin: 10px;
  padding: 5px; */
  margin-top: -10px;
}

@media (max-width: 767px) {

  .search {
    width: 100vw;
  }
  .nav {
    width: 100vw;
    height: 10vh;
    padding: 20px;
  }

  .nav button.logo {
    margin-left: 0;
    left: 5%;
  }
  .nav button {
    margin-left: 20px;
    padding-left: 0;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: fit-content;
  }

  .buttonContainer button {
    /* margin: 10px;
    padding: 5px; */
    margin-top: -10px;
  }

 .buttonContainer button.disabled:active {
    box-shadow: 3px 3px 2px 0 red;
  }

  .buttonContainer button:hover, button:active {
    background-color: transparent;
    color: white;
  }
  
  .results {
    padding: 40px;
  }

  .card form input {
    font-size: 1rem;
  }

  .card form p textarea {
    font-size: 1rem;
    height: 150px;
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.cardSource {
  display: flex;
  font-size: min(5vw, 1.5rem);
}

.cardSource a {
  font-size: min(5vw, 1.5rem);
  color: yellow;
}

.cardContent {
  display: flex;
  flex-direction: column;
  font-size: min(1.5rem, 5vw);
  line-height: min(10vw, 2.5rem);
}

.cardTitle {
  font-size: min(3rem, 8vw);
  color: yellow;
  opacity: 70%;
  font-weight: 100;
  text-shadow: 0.5px 0.5px white;
}

.card form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-self: center;
}

.card form p {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.card form input {
  border-radius: 0;
  width: min(100%, 500px);
  padding-left: 10px;
  color: white;
}

.card form textarea {
  width: min(100%, 500px);
  height: 200px;
  font-size: 1.5rem;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.card form textarea:focus {
  outline: none;
  border: 1px solid yellow;

}
.card form button {
  width: min(50%, 150px);
  margin: 20px 10px;
}