* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.app {
  background-color: #202124;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 100vh;
}

.nav {
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #202124;
}

.nav .logo {
  position: absolute;
  left: 0;
  top: 10px;
}

button {
  cursor: pointer;
}

.nav button {
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.nav button:hover {
  color: yellow;
}

.nav button:active {
  background-color: transparent;
}

.search {
  background-color: #202124;
  height: 90vh;
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  font-size: min(10vw, 5rem);
  position: relative;
  top: -10vh;
  gap: 1rem;
}

.bulb {
  height: 5rem;
  width: 5rem;
  position: relative;
  top: 2rem;
  border-radius: 5rem;
  background-color: white;
}

.bulb:hover {
  border: 20px solid;
  background-color: yellow;
}

input {
  width: 80%;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0 2rem;
  border-radius: 2rem;
  border: 1px solid white;
  background-color: transparent;
}

input:focus {
  outline: none;
  color: white;
  border: 1px solid yellow;
}

button {
  margin: 15px 10px;
  padding: 5px 10px;
  background-color: #202124;
  border: 1px solid;
  color: white;
  font-size: min(1.5rem, 5vw);
}

.buttonContainer button:hover, button:active {
  background-color: yellow;
  color: black;
}

.buttonContainer button:active {
  scale: 0.95;
}

.results {
  background-color: #202124;
  width: 100vw;
  padding: 10vh 10vw;
  min-height: 100vh;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
  top: 300px;
}

@media (max-width: 767px) {

  .search {
    width: 100vw;
  }
  .nav {
    width: 100vw;
    height: 10vh;
  }
  .nav button {
    margin-left: 0;
    padding-left: 0;
  }

  input {
    height: 2rem;
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .buttonContainer button {
    margin: 10px;
  }
  
  .results {
    margin-top: 20vh;
    padding: 40px;
  }

  .cardTitle {
    padding-top: 50px;
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.cardSource {
  display: flex;
  font-size: min(6vw, 2rem);
  color: gray;
}

.cardContent {
  display: flex;
  flex-direction: column;
  font-size: min(8vw, 2rem);
  line-height: min(10vw, 2.5rem);
}

.cardTitle {
  font-size: min(10vw, 4rem);
}

.card a {
  font-size: min(8vw, 2rem);
  color: yellow
}